/*
 * @Author: p697
 * @Date: 2021-05-21 09:58:50
 * @LastEditTime: 2021-06-06 18:38:25
 * @Description: 这里书写所有平台的通用样式，且必须符合RN的要求
 */
@import "@style/theme.less";

.all-character {
  height: 100%;
  min-height: 100%;
  background-color: @theme-background;

  &-header {
    
  }

  &-content {
    
  }
}
