@import "@style/index";

.gameResult {
  width: 100%;
  min-height: 100%;
  background-color: @theme-background;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 128px;

    &-title {
      .font-white-title();
      font-size: 64px;
    }

    &-score {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 12px;
    }

    &-text {
      .font-white-title();
      font-size: 38px;

      &_correct {
        font-size: 40px;
        color: @color-success;
      }

      &_wrong {
        font-size: 40px;
        color: @color-error;
      }
    }

    &-comment {
      .font-white-secondary();
      font-size: 32px;
    }

    &-btn {
      margin: 52px 0;
      height: 120px;
      padding: 0 48px;
      border-radius: 60px;
      background-color: #000000;
      border: 4px #222222 solid;
      display: flex;
      justify-content: center;
      align-items: center;
      
      &-text {
        .font-white-title();
        font-size: 36px;
        font-weight: bold;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px;

    &-box {
      position: relative;
    }

    &-img {
      width: 360px;
      margin-bottom: 8px;
    }

    &-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 360px;
      height: 360px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &-text {
      .font-white-title();
      font-size: 48px;
      font-weight: bold;

      &_correct {
        color: @color-success;
      }

      &_wrong {
        color: @color-error;
      }
    }
  }

  &-btn {
    width: 132px;
    height: 132px;
    border-radius: 160px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: @color-grey;
  }
}
