@import "@style/theme.less";

// wiki-c => wiki-character

.wiki-c {
  height: 100%;
  min-height: 100%;
  position: relative;
  background-color: @theme-grey;

  &-header {
    position: relative;
    min-height: 420px;

    &-background {
      width: 100%;
      z-index: -1;
      border-bottom-left-radius: 80px;
      border-bottom-right-radius: 80px;
      border-bottom-width: 2px;
    }
  }

  &-back {
    position: absolute;
    width: 108px;
    height: 108px;
    border-radius: 100px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
    background-color: @theme-grey;
    opacity: 0.5;
  }
  
}
