@import "@style/theme.less";

// wiki-c => wiki-character

.wiki-c {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;

  &-background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    &-mask {
      opacity: 0.85;
      background-color: @theme-background;
    }
  }

  &-header {
    position: relative;
    min-height: 420px;

    &-background {
      width: 94%;
      margin-left: 3%;
      border-radius: 72px;
      border-bottom-width: 2px;
    }
  }

  &-title {
    position: relative;
    margin-bottom: 8px;

    &-text {
      font-size: 56px;
      font-weight: bold;
      color: @color-white-grey;
      font-family: '';
    }
  }

  &-content {
    position: relative;
    padding: 26px 48px;

    &-status {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-point {
        width: 22px;
        height: 22px;
        border-radius: 50px;
        margin-right: 16px;
      }

      &_Alive {
        background-color: @color-success;
      }
      &_Dead {
        background-color: @color-error;
      }
      &_unknown {
        background-color: @color-light;
      }

      &-text {
        font-size: 34px;
        color: @color-white-light;
      }
    }
  }

  &-back {
    position: absolute;
    width: 108px;
    height: 108px;
    border-radius: 100px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-width: 0;
    background-color: #ffffff;
    opacity: 0.8;
    left: 6%;
    top: 3%;
  }
}
