@import "./index.rn.less";

.ac-drawer {
  background-color: @theme-background;
  box-sizing: border-box;

  &-item {
    box-sizing: border-box;

    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &-btn {
    width: 100%;
  }
}
