@import "@style/theme.less";

.game {
  width: 100%;
  min-height: 100%;
  position: relative;
  background-color: @theme-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-countdown {
    margin-bottom: 36px;
    background-color: @theme-grey;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;

    &-text {
      color: @color-white-grey;
      font-size: 48px;
      font-family: '';
    }
  }

  &-img {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-value {
      border-radius: 72px;
      width: 560px;

      &_grey {
        opacity: 0.2;
      }
    }

    &-mask {
      position: absolute;
      z-index: 2;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &-text {
        padding: 20px;
        font-size: 68px;
        font-weight: bold;
        font-family: '';

        &_correct {
          color: @color-success;
        }

        &_wrong {
          color: @color-error;
        }
      }
    }
  }

  &-name {
    margin-top: 48px;
    padding: 0 48px;
    text-align: center;

    &-text {
      color: @color-white-grey;
      font-size: 46px;
      font-family: '';
      text-align: center;
    }
  }

  &-location {
    margin-top: 12px;
    padding: 0 48px;
    text-align: center;

    &-text {
      color: @color-light;
      font-size: 32px;
      font-family: '';
      text-align: center;
    }
  }

  &-btns {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 68%;

    &-btn {
      border-radius: 54px;
      height: 108px;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-text {
        font-size: 36px;
        color: @color-white-light;
        font-family: '';
      }

      &_dead {
        background-color: @color-error;
      }

      &_alive {
        background-color: @color-success;
      }

      &_active {
        opacity: 0.5;
      }
    }
  }

  &-count {
    margin-top: 48px;
    margin-bottom: 80px;

    &-text {
      font-size: 32px;
      color: @color-white-grey;
      font-family: '';
    }
  }

  &-pre {
    &-title {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      &-text {
        font-size: 72px;
        font-weight: bold;
        color: @color-white-grey;
        font-family: '';

        &_red {
          color: @color-error;
          margin-right: 16px;
        }
        &_green {
          color: @color-success;
          margin-left: 16px;
        }
      }
    }

    &-btn {
      width: 148px;
      height: 148px;
      border-radius: 160px;
      margin-top: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000000;
      border: 5px #222222 solid;

      &-text {
        font-size: 36px;
        font-weight: bold;
        color: @color-white-light;
      }
    }
  }
}
