@import "@style/index";

.game {
  width: 100%;
  min-height: 100%;
  position: relative;
  background-color: @theme-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
