@import "./index.rn.less";

.character {
  position: relative;
  display: flex;

  &-content {
    padding-top: 16px;

    &-status {
      margin-top: 4px;
    }
  }

  &-episodes {
    box-sizing: border-box;
  }
}
