/*
 * @Author: p697
 * @Date: 2021-05-21 09:58:50
 * @LastEditTime: 2021-05-22 11:59:34
 * @Description: 这里书写所有平台的通用样式，且必须符合RN的要求
 */
@import "@style/theme.less";

// 加载状态组件的呼吸周期
@wTiming: 1s;

.wiki {
  background-color: #ffffff;

  &-title {
    font-size: 92px;
    font-weight: bold;
    text-align: center;
    color: @color-semi;
    padding: 0 32px;
    line-height: 108px;
    font-family: "Velcro";
  }

  &-header {
    position: relative;
    min-height: 420px;

    &-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-background {
      // margin-top: 12px;
      width: 100%;
      z-index: -1;
    }
  }

  &-content {
    padding: 80px;
    background-color: @theme-background;
    min-height: 100%;
  }

  &-card {
    background-color: @theme-grey;
    border-radius: 20px;
    margin-bottom: 56px;
    overflow: hidden;

    &-img {
      width: 100%;
    }

    &-content {
      padding: 26px;
      padding-top: 20px;
      padding-bottom: 34px;
    }

    &-name {
      font-size: 42px;
      font-weight: bold;
      color: @color-white-grey;
    }

    &-status {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 4px;

      &-point {
        width: 16px;
        height: 16px;
        border-radius: 50px;
        margin-right: 12px;
      }

      &_Alive {
        background-color: @color-success;
      }
      &_Dead {
        background-color: @color-error;
      }
      &_unknown {
        background-color: @color-light;
      }

      &-text {
        font-size: 31px;
        color: @color-white-light;
      }
    }

    &-title {
      margin-top: 28px;
      margin-bottom: 4px;

      &-text {
        font-size: 31px;
        color: @color-light;
      }
    }

    &-text {
      font-size: 34px;
      color: @color-white-grey;
    }

    &-loading {
      // rn不支持animation，需要剔除

      &-name {
        height: 50px;
        width: 200px;
        background-color: @color-grey;
        margin-top: 12px;
      }

      &-status {
        height: 34px;
        width: 150px;
        margin-top: 12px;
        background-color: @color-grey;
      }

      &-title {
        height: 34px;
        width: 240px;
        margin-top: 28px;
        background-color: @color-grey;
      }

      &-text {
        height: 40px;
        width: 280px;
        margin-top: 12px;
        background-color: @color-grey;
      }
    }
  }
}
