/*
 * @Author: p697
 * @Date: 2021-05-21 09:04:39
 * @LastEditTime: 2021-06-21 15:50:15
 * @Description: 这里书写非RN平台的独立样式
 */
@import "./index.rn.less";

.wiki {
  .scroll-page-container-weapp();

  &-content {
    padding-bottom: 1px;

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-footer {
    padding-bottom: 52px;
  }
}
