.wiki {
  background-color: #ffffff;
  min-height: 100%;

  &-title {
    font-size: 54px;
    text-align: center;
  }
  
  &-header {

    &-top {
      width: 100%;
      height: 500px;
      display: flex;
      justify-content: center;
    }
  }
}