.wiki {
  background-color: #ffffff;
  min-height: 100%;

  &-title {
    font-size: 58px;
    text-align: center;
  }
  
  &-header {

    &-top {
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // background-color: red;
    }

    margin-bottom: 40px;
  }
}