/*
 * @Author: p697
 * @Date: 2021-05-21 09:58:50
 * @LastEditTime: 2021-06-15 09:53:31
 * @Description: 这里书写所有平台的通用样式，且必须符合RN的要求
 */
@import "@style/index";
@import "@components/Back/index.less";

.all-c {
  &-header {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 88px;
    margin-left: 64px;

    &-btn {
      .btn-circle-ab();
      position: relative;
      margin-left: 32px;

      &-text {
        .font-black-title();
        font-size: 36px;
      }

      &_active {
        opacity: 0.6;
      }
    }
  }

  &-back {
    position: relative;
  }

  &-container {
    height: 100%;
  }

  &-page {
    background-color: @theme-background;
    height: 100%;
  }

  &-scroll {
    height: 100%;
    width: 100%;
  }

  &-content {
    padding: 64px;
    padding-bottom: 0;
    padding-top: 236px;
  }
}
